<settings
  connectionStringName="db"
  host="http://localhost:4246/"
  resourcesUrl="http://localhost:44892/"
  resourcesVersion="1"
  publicStorageUrl="http://localhost:4246/"
  publicStoragePath="D:\projects\files\storage\development\public\"
  privateStoragePath="D:\projects\files\storage\development\private\"
  geoLocationDatabasePath="D:\projects\files\GeoLiteCity.dat"
  fileMaxSize="50000000"
  tempPath="D:\Temp\"
  isProduction="False"
  generateSchema="False"
  webApiUrl="http://localhost:2565/api/"
  webFormUrl="http://localhost:4246/"
  webMvcUrl="http://localhost:49736/"
/>